[mysqld]

max_connections=200

innodb_buffer_pool_size=512M
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2

query_cache_type=1
query_cache_size=64M

tmp_table_size=64M
max_heap_table_size=64M

skip-name-resolve